# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.whl

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.mo
*.pot

# Editors and IDEs
.idea/  # Ignore PyCharm project settings
.vscode/ # Ignore VS Code project settings
*.swp
*.bak
*.tmp

# Miscellaneous
celerybeat-schedule
celerybeat.pid
*.rdb
*.aof
*.pid
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/